@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@800&family=Roboto:wght@100;700&display=swap");
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  background: url("lego-block-mobile.png") no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
}

header {
  height: 3vh;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 2;
}

.logo-placeholder {
  font-size: 30px;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  background-color: #fff;
  height: 3px;
  width: 30px;
  transition: transform 2s, opacity 1s;
}

.bar:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Active state for the X */
.nav-toggle.active .bar:nth-child(1) {
  transform: rotate(405deg) translate(9px, 0px);
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active .bar:nth-child(3) {
  transform: rotate(-405deg) translate(11px, -2px);
}
/* End Active state for x */

.dropdown {
  z-index: -1;
  position: absolute;
  top: -110%;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 65px;
  opacity: 0;
  transition: top 1s ease-in-out, opacity 0.5s ease-in-out;
  height: 100%;
}

.dropdown a {
  margin-bottom: 30px;
}

.dropdown.active {
  visibility: visible;
  top: 0;
  opacity: 0.95;
}

main {
  flex: 1;
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: hidden; /* Fixes the background image changing sizes */
}

.hero {
  opacity: 0;
  visibility: none;
  display: none;
}

.hero.active {
  flex: 1;
  justify-content: space-around;
  position: relative;
  top: -50px;
  z-index: -2;
}

.about {
  flex: 1;
  position: relative;
  z-index: -2;
  opacity: 0;
  visibility: none; /* Hide initially */
  display: none;
}

.heading h2 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.heading h1 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.sub-heading {
  position: relative;
}

.sub-heading span {
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  color: rgb(131, 131, 131);
}

.sub-heading button {
  position: absolute;
  right: 20px;
}

.sub-heading button {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(204, 204, 204);
  border: none;
  cursor: pointer;
  background-color: black;
  padding: 8px 20px;
  border-radius: 3px;
}

.about .heading span {
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
}

.about .text-section {
  width: 80vw;
  background-color: #e4e4e47d;
  padding: 0px 20px 30px 20px;
  margin-top: 30px;
  border-radius: 3px;
  align-self: end;
  display: flex;
  flex-direction: column;
}
.about p {
  font-size: 23px;
}
.about p:first-child {
  margin-top: 30px;
}

.about p:nth-child(2),
.about p:nth-child(3) {
  margin-top: 30px;
}

.about button {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(204, 204, 204);
  border: none;
  cursor: pointer;
  background-color: black;
  padding: 8px 20px;
  border-radius: 3px;
  width: fit-content;
  align-self: end;
  margin-top: 50px;
}

.connect {
  flex: 1;
  position: relative;
  z-index: -2;
  padding-top: 20px;
  top: -20px;
  opacity: 0;
  visibility: none;
  display: none;
}

.connect .calendly-mobile {
  padding: 20px;
}

.connect h3 {
  font-size: 34px;
}

.connect .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  width: 320px;
  align-self: center;
}

.connect .form .heading {
  align-self: flex-start;
  margin-bottom: 20px;
}

.connect .form form {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.76);
  border-radius: 10px;
  padding-top: 30px;
  margin-bottom: 25px;
}
.connect .checkbox-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.connect .checkbox-section:first-of-type {
  padding-top: 10px;
}

.connect label {
  padding-left: 5px;
  font-size: 20px;
}

.connect form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
}

form button {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(204, 204, 204);
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  padding: 8px 20px;
  border-radius: 3px;
  width: fit-content;
  align-self: end;
  border: none;
}

#textarea {
  padding-top: 15px;
  line-height: 1;
}

.connect .form input,
.connect .form textarea {
  height: 50px;
  border: none;
  border-radius: 3px;
  padding: 0px 20px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin-bottom: 20px;
}

.form input[type="checkbox"] {
  height: 20px;
}

.form input[type="text"],
.form input[type="email"] {
  height: 35px;
  font-size: 18px;
}

.connect #textarea {
  height: 150px; /* You can adjust the value as needed */
  /* font-size: 24px; */
  width: 100%;
}

.connect .heading-two {
  color: rgb(0, 0, 0);
}

.connect .heading-two span,
.connect .heading-two h3 {
  color: rgb(0, 0, 0);
  font-weight: 100;
}

.connect .heading span {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(0, 0, 0);
  padding-left: 5px;
}

/* Updated style for Calendly button */
.btn.calendly-btn {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-weight: 600;
  /* color: rgb(204, 204, 204); */
  cursor: pointer;
  background-color: black;
  background-color: hsla(
    49,
    100%,
    50%,
    0.907
  ); /* Adjust the hover color as needed */

  padding: 8px 20px;
  border-radius: 3px;
  width: fit-content;
  align-self: flex-start; /* Change from 'end' to 'flex-start' */
  margin-top: 10px; /* Adjust as needed */
  text-decoration: none;
  display: inline-block;
  color: black;
}

.connect .form .heading-two {
  padding: 20px; /* Adjust the hover color as needed */
  /* border: 1px solid black; */
  background-color: hsla(
    49,
    100%,
    50%,
    0.531
  ); /* Adjust the hover color as needed */
  border-radius: 10px;
  color: white;
}

.btn.calendly-btn:hover {
  background-color: hsl(49, 100%, 62%); /* Adjust the hover color as needed */
}

.hero.active,
.about.active,
.connect.active {
  display: flex;
  visibility: visible;
  flex-direction: column;
  animation: slideIn 1s ease-in-out forwards;
}

footer {
  height: 5vh;
  background-color: #000000;
  color: #fff;
  /* padding: 10px; */
  margin-top: auto;
  /* padding-bottom: 25px; */
  display: flex;
  align-items: center;
  padding: 20px 0;
  flex-direction: row-reverse;
}

.socials {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.socials a:first-child {
  margin-right: 7px;
}

.socials a {
  display: flex;
}
.socials a img {
  width: 25px;
  /* margin: 0 5px; */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
