@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@800&family=Roboto:wght@100;700&display=swap");
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
  /* Add any additional styles for visited links */
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;

  background: url("lego-block-mobile.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 3vh;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 2;
}

.logo-placeholder {
  font-size: 30px;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  background-color: #fff;
  height: 3px;
  width: 30px;
  transition: transform 3s, opacity 1s;
}

.bar:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Active state for the X */
.nav-toggle.active .bar:nth-child(1) {
  transform: rotate(405deg) translate(9px, 0px);
}

.nav-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active .bar:nth-child(3) {
  transform: rotate(-405deg) translate(11px, -2px);
}
/* End Active state for x */

.dropdown {
  z-index: -1;
  position: absolute;
  top: -110%;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 65px;
  opacity: 0;
  transition: top 1s ease-in-out, opacity 0.5s ease-in-out;
  height: 100%;
}

.dropdown a {
  margin-bottom: 30px;
}

.dropdown.active {
  visibility: visible;
  top: 0;
  opacity: 0.95;
}

main {
  flex: 1;
  padding: 20px;
  /* background-color: #ecf0f1; */
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading,
.sub-heading {
  z-index: -2;
  position: relative;
  top: -60px;
}
.sub-heading {
  top: -40px;
}

.heading h2 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.heading h1 {
  font-size: 64px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.sub-heading {
  position: relative;
}

.sub-heading span {
  font-size: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(90, 90, 90);
}

.sub-heading button {
  position: absolute;
  right: 20px;
}

.sub-heading button {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: rgb(204, 204, 204);
  border: none;
  cursor: pointer;
  background-color: black;
  padding: 8px 20px;
  border-radius: 3px;
}

footer {
  height: 2vh;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  padding-bottom: 25px;
}
